<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">
    <application android:label="FF_ESP">
        <meta-data android:name="zygisk_module" android:value="true" />
        <meta-data android:name="zygisk_compatible" android:value="true" />
        <meta-data android:name="zygisk_deny_list" android:value="com.dts.freefireth,com.dts.freefiremax" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
